$primary: #cc5299;
@import 'bootstrap/scss/bootstrap';

[data-bs-theme="pink"] body {
	background-color: #faf2f7;
}
[data-bs-theme="brown"] body {
	background-color: #faf6f2;
}

.board-column {
	max-width: 80vh;
}
