on:
  push:
    branches:
      - main

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    environment:
      name: cloudflare-pages
      url: ${{ steps.deployment.outputs.url }}
    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install rust
        run: |
          rustup update stable
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Build
        run: |
          make web
      - name: Deploy
        uses: cloudflare/pages-action@1
        id: deployment
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: chess-rust
          directory: web/build
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          wranglerVersion: '3'
